nav a {
    font-size: 50px;
    font-family: 'Coffee Extra';
    text-decoration: none;
    color: whitesmoke;
    margin: 0px 10px;
    /* this is for the text */
}
body {
    display: grid;
    width: 90%;
    margin: 0;
    grid-template-columns: 3fr 1fr 3fr;
    grid-template-rows: 5vh 90vh;
    grid-gap: 1px;
    background-image: url('images/backo.png');
    /* this is the grid basically */
}
a:link {
    color: whitesmoke;
    background-color: transparent;
    text-decoration: underline;
    /* this is to click on home, store etc.. */
  }
 
  a:hover {
    color: black ;
    background-color: #cfc ;
    /* when u hover over home, store etc the color shows up */
  }

  section {
    grid-column: 1/4;
    margin: auto;
    display: grid;
    grid-gap: 0.1px;
    grid-template-columns: 1fr 1fr 1fr;
    /* this is the sections for the images */
}

ul {
  grid-column: span 3;
  display: grid;
  grid-gap: 5%;
  grid-template-columns: 1fr 1fr 1fr;
  /* this fits all the sections in */
}

li {
  border:2px solid #fff;
  -moz-box-shadow: inset 10px 10px 50px #fff;
  -webkit-box-shadow: inset 10px 10px 50px #fff;
  box-shadow: inset 10px 10px 50px #fff;
  list-style: none;
  text-align: center;
  /* this is the code used in the section */
}

li img {
  width: 80%; 
  /* this is te images from the section */
}
img:hover{
  transform: scale(1.015); 
}
/* to hover over the img make it bigger */

section div {
  text-align: center;
  align-self: center;
  height: 60vh;
  /* to control the section div */
}
section p {
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* to control the text in the section */