body {
    display: grid;
    width: 100%;
    margin: auto;
    grid-template-columns: 3fr 1fr 3fr;
    grid-template-rows: 5vh 90vh;
    grid-gap: 1px;
    background-image: url('images/backo.png');
} /* this is the grid basically */

nav a {
    font-size: 50px;
    font-family: 'Coffee Extra';
    text-decoration: none;
    color: whitesmoke;
    margin: 0px 10px;
} /* this is for the text */
    
    

img {
    grid-column: 1/2;
    grid-row: 2;
    align-self: center;
    margin: 10vh;
   /* this is the image(s) */
}

a:link {
    color: blue;
    background-color: transparent;
    text-decoration: underline;
  } /* to click on home, store etc */
 
  a:hover {
    color: black ;
    background-color: #cfc ;
   /* when you hover on home, store etc this color shows */ }

  img:hover { 
    transform: scale(1.015); 
} /* when hovering on an image it enlarges */

section {
    grid-column: 1/4;
    width: 90%;
    margin: auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
} /* this is a section on the page */

section div {
    border: 2.5px solid #fff;
    -moz-box-shadow: inset 10px 10px 80px #fff;
    -webkit-box-shadow: inset 10px 10px 80px #fff;
    box-shadow: inset 10px 10px 80px #fff;
    align-self: center;
    text-align: center;
    height: 60vh;
    /* this is a section on the page */
    
}

section p {
   font-size: 20px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} /* this is the text inside the section */



section img {
    display: block;
    height: 90%;
    margin: 20px auto;
} /* this is the image inside the section */